.header {
    position: sticky;
    top: 20px;

    width: calc(100% - 40px);
    max-width: 1400px;

    margin: 20px auto;
    padding: 0 30px;

    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #1E293B;
    border-radius: 16px;

    z-index: 1000;

    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
}

.hire-btn {
    background: #3B82F6;
    border: none;

    height: 42px;
    padding: 0 24px;

    border-radius: 10px;
    font-weight: 600;
}

.desktop-menu .ant-menu {
    background: transparent !important;
    border-bottom: none !important;
}

.desktop-menu .ant-menu-item {
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 500;
    margin: 0 8px !important;
    border-bottom: none !important;
}

.desktop-menu .ant-menu-item a {
    color: #ffffff;
    transition: all 0.3s ease;
}

.desktop-menu .ant-menu-item:hover {
    background: rgba(59, 130, 246, 0.12) !important;
    border-radius: 8px;
    text-decoration: solid;
}

.desktop-menu .ant-menu-item:hover a {
    color: #3B82F6 !important;
}

.ant-menu-horizontal::after {
    border-bottom: none !important;
}

.ant-menu-item::after {
    border-bottom: none !important;
}




/* @media (max-width:768px){

.header{

width:calc(100% - 20px);

margin:10px auto;

padding:0 15px;

height:65px;

}

} */

@media (max-width: 1280px) {

    .header{
        width: calc(100% - 20px);
        margin: 10px auto;
        padding: 0 20px;
        height: 65px;
    }

    .desktop-menu,
    .hire-btn{

        display:none !important;
    }

    .mobile-btn{
        display: flex !important;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        color: white;
        background: transparent;
        border: none;
        font-size: 24px;
    }

}

.mobile-btn{
    display:flex;
    align-items:center;
    justify-content:center;

    margin-left:15px;

    background:transparent !important;
    border:none !important;

    color:#fff !important;

    font-size:22px;

    transition:.3s;
}

.mobile-btn:hover{
    color:#1677ff !important;
}

.ant-menu-horizontal .ant-menu-title-content a::after{

    content:"";
    position:absolute;
    left:50%;
    bottom:-8px;

    width:0;
    height:3px;

    background:linear-gradient(
        90deg,
        #1677ff,
        #52c41a
    );

    border-radius:20px;

    transform:translateX(-50%);

    transition:
    width .35s ease;

}

.ant-menu-horizontal .ant-menu-title-content a:hover{

    color:#1677ff;

}

.ant-menu-horizontal .ant-menu-title-content a:hover::after{

    width:100%;

}

.ant-menu-item{

    transition:.3s;

}

.ant-menu-horizontal .ant-menu-title-content a:hover{

    color:#1677ff;

}

.ant-menu-horizontal .ant-menu-title-content a:hover::after{

    width:100%;

}

.logo{

    display:flex;
    align-items:center;
    gap:12px;

    font-size:24px;
    font-weight:700;

    color: white;

}

.logo-icon{

    color:#1677ff;
    font-size:30px;
    transition:.3s;

}

.logo:hover .logo-icon{

    transform:rotate(-15deg) scale(1.15);

}

.ant-drawer-body {
  overflow-x: hidden !important;
}

.ant-drawer-content {
  overflow-x: hidden !important;
}

.ant-drawer-content-wrapper {
  overflow-x: hidden !important;
}

.ant-drawer-body {
    overflow-y: auto;
    scrollbar-width: none;      /* Firefox */
}

.ant-drawer-body::-webkit-scrollbar {
    display: none;              /* Chrome, Edge */
}

@media (max-width: 992px) {

  .desktop-menu,
  .hire-btn {
    display: none !important;
  }

  .mobile-btn {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .header {
    padding: 0 20px;
  }
}

