.header {
    position: sticky;
    top: 20px;

    width: calc(100% - 40px);
    max-width: 1400px;

    margin: 20px auto;
    padding: 0 30px;

    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #1E293B;
    border-radius: 16px;

    z-index: 1000;

    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
}

.hire-btn {
    background: #3B82F6;
    border: none;

    height: 42px;
    padding: 0 24px;

    border-radius: 10px;
    font-weight: 600;
}

.desktop-menu .ant-menu {
    background: transparent !important;
    border-bottom: none !important;
}

.desktop-menu .ant-menu-item {
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 500;
    margin: 0 8px !important;
    border-bottom: none !important;
}

.desktop-menu .ant-menu-item a {
    color: #ffffff;
    transition: all 0.3s ease;
}

.desktop-menu .ant-menu-item:hover {
    background: rgba(59, 130, 246, 0.12) !important;
    border-radius: 8px;
}

.desktop-menu .ant-menu-item:hover a {
    color: #3B82F6 !important;
}

.ant-menu-horizontal::after {
    border-bottom: none !important;
}

.ant-menu-item::after {
    border-bottom: none !important;
}




@media (max-width:768px){

.header{

width:calc(100% - 20px);

margin:10px auto;

padding:0 15px;

height:65px;

}

}